/Adafruit-Raspberry-Pi-Python-Code
/Adafruit_CircuitPython_BMP3XX
/Adafruit_Python_BMP
/venv
/.venv
/.vscode
/mosquitto
/pgadmin
/pgdata
/examples
/initdb
/mqtt_tls_ca/data
/mqtt_tls_ca/serialization_tutorial6.pdf